.button {
  background-color: #2c698f;
  border: none;
  color: white;
  padding: 15px 0px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  margin: 0px 0px;
  cursor: pointer;
  width: 100%;
}

.active {
  background-color: #3681b0;
}
