<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center active">
    Destinos
    <span class="badge bg-primary rounded-pill">14</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Hoteles
    <span class="badge bg-primary rounded-pill">20</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Alquiler de autos
    <span class="badge bg-primary rounded-pill">10</span>
  </li>
</ul>