.grid-container {
  display: grid;
  grid-template-areas:
    "header header  header  header  header  header  header "
    "menu main  main main  main main  main";
}

.grid-header {
  grid-area: header;
}

.grid-menu {
  grid-area: menu;
  margin: 5px 5px 5px 5px;
}

.grid-lista {
  grid-area: main;
  margin: 25px 25px 25px 25px;
}
